body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background: #fff;
  }
  
  header {
    background-color: rgb(243, 166, 166);
    color: #fff;
    padding: 10px;
    text-align: center;
    margin: 50px;
  }
  
  
  logo {
    max-width: 100px;
    max-height: 50px;
  }


  nav ul {
    align-items: center;
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  nav li {
    margin-right: 40px;
    margin-left: 40px
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    margin-top: 20px;
  }
  
  .grid-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .grid-item img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
  }
  
  h2 {
    text-align: center;
  }
  .grid-item h3 {
    padding: 10px;
    margin: 0;
    color: #333;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  textarea {
    resize: vertical;
  }
  
  button {
    background-color: #234876;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    max-width: 150px;
    max-height: 50px;
  }
  
  button:hover {
    background-color: #ff0000;
  }

  media {
    max-width: 100px;
    max-height: 40px;
  }
  
  footer {
    border-radius: 5px;
    border: 2px solid #333333;
    background-color: #55a7ea;
    color: #CCCCCC;
    height: 100px;
    max-width: 1000%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 50px;
  }

  
 .home .duck-image {
    width: 150px;
    height: 150px;
  }

  .profile img {
    width: 150px;
    height: 150px;
  }